.news-main-styles {
    margin-top: -160px;
}

.news-create-styles {
    margin-top: -140px;
}

.update-text-styles {
    position: relative;
    top: -150px;
}

.update-button-styles {
    margin-left: -40px;
}

.news-details-view {
    margin-top: -50px;
    margin-left: 50px;
}