{% extends 'mainapplication/layout.html' %}

{% block mainpagetitleblock %}
    This is the PREFIXX about page !
{% endblock %}

{% block mainpageblock %}
    <div class="features">
        <h1>You're welcome to the PREFIXX about page !</h1><br>
        <p>PREFIXX - is one of the most wonderful project of shop / forum of all time ! Enjoy yourself with us - together !</p><br>
        <h3>Our tagline is - "PREFIXX - is not about refix" </h3><br>
         <a href="{% url 'home'%}"><button class="btn btn-secondary">Click here to redirect to main page !</button></a>
    </div>
{% endblock %}