{% extends 'mainapplication/layout.html' %}

{% block mainpagetitleblock %}
    You're welcome to contacts page !
{% endblock %}

{% block mainpageblock %}
    <div class="features">
        <h1>This is contacts page of PREFIXX project !</h1><br>
        <p>Here you can contact to PREFIXX administrators / developers</p><br>
        <h4>Email main developer (ecstasy) ^ CEO : shipandrewi@gmail.com</h4><br>
        <a href="{% url 'home'%}"><button class="btn btn-secondary">Click here to redirect to main page !</button></a>
    </div>
{% endblock %}