{% extends 'mainapplication/layout.html' %}

{% block mainpagetitleblock %}
    {{ article.title }}
{% endblock %}

{% block mainpageblock %}

    <div class="features">
        <h1>{{ article.title }}</h1>
        <p>{{ article.date }}</p>
        <p>{{ article.absolute_text }}</p>
        <a href="{% url 'news_delete' article.id %}" class="btn btn-outline-danger">Delete this alert !</a>
        <a href="{% url 'news_update' article.id %}" class="btn btn-outline-warning">Change your alert !</a>
    </div>

{% endblock %}