{% extends 'mainapplication/layout.html' %}

{% block mainpagetitleblock %}
    News on PREFIXX site !
{% endblock %}

{% block mainpageblock %}

    <div class="features">
        <h1>News on PREFIXX site :</h1>
        {% if news %}
            {% for elements_in_news in news %}
                <div class="alert alert-warning">
                    <h3>{{ elements_in_news.title }}</h3>
                    <h4>{{ elements_in_news.anonse }}</h4>
                    <p>{{ elements_in_news.absolute_text }}</p>
                    <a href="{% url 'news_detail' elements_in_news.id %}" class="btn btn-outline-secondary">Read more</a>
                </div>
            {% endfor %}
        {% else %}
            <div class="alert alert-warning">
                <h4>You not have any alerts !</h4>
            </div>
        {% endif %}
    </div>

{% endblock %}