.news-main-styles {
    margin-top: 300px;
}

.news-create-styles {
    margin-top: -140px;
}

.update-text-styles {
    position: relative;
    top: -150px;
}

.update-button-styles {
    margin-left: -40px;
}

.news-details-view {
    margin-top: -50px;
    margin-left: 50px;
}

.delete-form-styles {
    margin-top: 50px;
}

.btn-outline-secondary {
    font-weight: bold;
}

.btn-outline-danger {
    font-weight: bold;
}

.btn-outline-warning {
    font-weight: bold;
}

.btn-outline-success {
    font-weight: bold;
}

























