body {
    background: #2c2c2c;
}

aside {
    float: left;
    background: #181818;
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #b7ad9b;
    border-right: 5px solid #b7ad9b;
}

aside img {
    width: 280px;
    position: relative;
    top: -60px;
    max-width: 100%;
    height: auto;
}

aside h3 {
    font-size: 35;
    position: relative;
    top: -60px;
    font-weight: bold;
    font-size: 1.7vw;
}

aside ul {list-style: none}
aside ul li {
    color: #e5d9c4;
    display: block;
    position: relative;
    top: -40px;
    margin-top: 25px;
    margin-left: 35px;
    font-size: 23px;
    font-weight: bold;
    transition: transform .6s ease;
    max-width:100%;
    height:auto;
    font-size: 1.3vw;
}

a.noline {
  text-decoration:none;
}

aside ul li:hover, aside ul a:hover {
    color: #b7ad9b;
    text-decoration: none;
    transform: scale(1.05);

}

main .features {
    float: left;
    color: #b7ad9b;
    margin-top: 350px;
    text-align: center;
    width: 75%;
    position: relative;
    top: -85px;
    font-weight: bold;
}


.alert-warning {
    float: left;
    clear: both;
    width: 900px;
    margin: 20px 18%;
    padding: 1.5%;
}

form {
    margin-left: 25%;
    width: 700px;
    margin-top: 60px;
}

.btn-secondary {
    margin-left: -18px;
    width: 180px;
    height: 100px;
    color: #e5d9c4;
    font-size: 1vw;
    font-weight: bold;
    max-width:1000%;
    height:auto;
}

main h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

