{% extends 'mainapplication/layout.html' %}
{% load static %}

{% block mainpagetitleblock %}
    Delete your alert here (
{% endblock %}

{% block mainpageblock %}

<link rel="stylesheet", href="{% static 'newsapplication/css/newsapplication_file.css' %}">
    <div class="features">
        <div class="delete-form-styles">
           <h1>Exactly delete your alert ?</h1>
            <form method="post">
                {% csrf_token %}
                <button class="btn btn-outline-danger" type="submit">Delete alert !</button>
                <a href="/news/"><button type="button" class="btn btn-outline-success">Go back ..</button></a>
            </form>
        </div>
    </div>

{% endblock %}